.formulario{
    display: inline-block;
    align-items: ;
    padding: 100px 30px;
    margin-left: 150px;
    margin-top: 150px;
    al
    
    

}


#error{
    
    color: red;
    padding: 10px;
}