<!DOCTYPE html>
<html>
<head>
<title>Flask</title>
<link rel="stylesheet" href="/static/style.css">
</head>
  <body>
    <header>
        <h2>Noticias Online</h2>

        <div class="containerv">
            <ul>
                <li> <a href="#"></a>Agora </li>
                <li> <a href="#"></a>Jornal </li>
                <li> <a href="#"></a>Video </li>

                <h4 class="titulop">Empresa de telemarketing abre 300 vagas de emprego em Feira de Santana</h4>
            </ul>
        </div> 
    </header>


    

    <footer>
        <div class="rodape">
            <ul>
                <li>Sair</li>
                <li>Informaçoes</li>
                <li> Contatos</li>
                
            </ul>
        </div>
    </footer>

<script src=""></script>
</body>
</html>