<!DOCTYPE html>
<html>
<head>
<title>Flask</title>
<link rel="stylesheet" href="/static/style.css">
</head>
  <body>
    <header>
        <h2>Noticias Online</h2>

        <div class="containerv">
            <ul>
                <li> <a href="/agora"></a>Agora </li>
                <li> <a href="#"></a>Jornal </li>
                <li> <a href="#"></a>Video </li>

                <h4 class="titulop">Empresa de telemarketing abre 300 vagas de emprego em Feira de Santana</h4>
            </ul>
        </div> 
    </header>


    <main>

        <section>
            <div class="c1">
                <h4>A empresa de telemarketing</h4>
                <p>os interessados devem ter ensino médio completo e morar em Feira de Santana. 
                A empresa não exige experiência para o cargo. Conhecimentos em informática e boa 
                digitação serão considerados diferenciais.</p>
            </div>

            <div class="c2">
                <h4>A empresa de telemarketing</h4>
                <p>os interessados devem ter ensino médio completo e morar em Feira de Santana. 
                A empresa não exige experiência para o cargo. Conhecimentos em informática e boa 
                digitação serão considerados diferenciais.</p>
            </div>

            <div class="c3">
                <h4>A empresa de telemarketing</h4>
                <p>os interessados devem ter ensino médio completo e morar em Feira de Santana. 
                A empresa não exige experiência para o cargo. Conhecimentos em informática e boa 
                digitação serão considerados diferenciais.</p>
            </div>

        </section>

        <div class="list">
            <p>Para avançar, será preciso superar dois descompassos. O primeiro é a desconexão entre os salões diplomáticos e o mundo real. As pessoas podem não entender o que são emissões ou to</p>
        </div>

        <div class="list2">
            <p>Para avançar, será preciso superar dois descompassos. O primeiro é a desconexão entre os salões diplomáticos e o mundo real. As pessoas podem não entender o que são emissões ou to</p>
        </div>

        <div class="list3">
            <p>Para avançar, será preciso superar dois descompassos. O primeiro é a desconexão entre os salões diplomáticos e o mundo real. As pessoas podem não entender o que são emissões ou to</p>
        </div>



    </main>

    <footer>
        <div class="rodape">
            <ul>
                <li>Sair</li>
                <li>Informaçoes</li>
                <li> Contatos</li>
                
            </ul>
        </div>
    </footer>

<script src="/static/script.js"></script>
</body>
</html>