<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Corte Verde - Login</title>
    <link rel="stylesheet" href="/Madereira/static/style.css">
</head>
<body >

     <div class="container">

        <!-- LADO ESQUERDO - LOGIN -->
        <div class="left-box">

            <div class="log">
              <img src="/Madereira/static/img/ChatGPT Image 14 de nov. de 2025, 10_54_23.png" class="logo" alt="Logo Corte Verde" width="50%">
            </div>
            
            <p class="use-email">Entrar</p>

            <input type="text" id="usuario" placeholder="Email">
            <input type="password" id="senha" placeholder="Password">

            <a class="forgot" href="#">Esqueceu sua senha?</a>

            <button class="btn-login" onclick="fazerLogin()">ENTRAR</button>

            <p id="erro"></p>
        </div>

        <!-- LADO DIREITO - IMAGEM + TEXTO -->
        <div class="right-box">
            <div class="overlay">
               
                
            </div>
        </div>

    </div>

    <script src="js/script.js"></script>
</body>
</html>
