body {
    padding: 0;
    margin: 0;
    height: 100vh;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;


}

header{
    background-color: #295773;
    padding: 50px 40px;
    margin-top: 0;
}

h3 {
color: white;
font-size: 15px;
}

a{
    font-size: 10pt;
}

h2{
    font-size: 30px;
    color: white;
    align-items: center;
    text-align: center;
}

/*container vermelho*/
.containerv{
    background-color:#C8D7E4;
    padding: 10px 10px;
    border-radius: 10px;

}

ul{
    display: flex;
    
}

li{
    
    color: black;
    list-style: none;
    margin-left: 10px;

}

.titulop{
    display: block;
    margin-bottom: 2px;
    margin-top: 3px;
    margin-left: 200px;
    font-size: 15pt;
    color: black;
}

/*section */
main{
    
    padding-bottom: 100px;
    text-align: center;

}

h4{
    text-align: center;
}

p{
    text-align: center;
    justify-items: center;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.c1{

   background-color:#9BC0D9;
   margin: 80px 6px ;
   border-radius: 20px;
   margin-left: 100px;
   
   
}

.c2{

    background-color:#9BC0D9;
    margin: 80px 6px ;
    border-radius: 20px;
}

.c3{
    display: inline-block;
    background-color: #9BC0D9;
    margin: 80px 6px ;
    margin-right: 150px;
    border-radius: 20px;  
    text-align: center;
    
}

section{

    background-color: #fcfcfc;
    display: flex;
    
    
   
}

.list , .list2 , .list3{
    align-items: center;
    display: inline-block;
    padding: 10px 8px;
    background-color:#022859;
    border-radius: 10px;
    margin-top: 15px;
    margin-right: 10px;
    color: #fcfcfc;
}






/*Roda Pe*/
footer{
    background-color: #295773;
    padding: 30px;

}

.rodape{
    background-color:#C8D7E4;
    padding: 10px 15px;
    border-radius: 20px;
    
}

ul{

}