/*Zera a configuração da pagina*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    background-color: rgb(144, 201, 158);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 300px;
    text-align: center;

}

h1{
    font-size: 24px;
    margin-bottom: 20px;
}

label{
    display: block;
    margin: 10px 0 5px;
}

input{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

button{
    width: 100%;
    padding: 10px;
    background-color: rgb(16, 160, 35);
    border: none;
    color: white;
    border-radius: 5px;
}

button:hover{
    background-color: rgb(23, 131, 20);
}

.resultado span{
    color: black;
}